

@import './nav';
@import './books';
@import './main';
@import './home';
*, *:before ,*:after {
    margin:0;
}
html {
    font-size: 14px;
    line-height: 1.5;
}

.flex-center-box {
    display:flex;
    justify-content: center;
    align-items: center;
}

.forms {
    margin: 20px;
}

.highlighted {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    padding:20px;
}

//to prevent auto zoom on iphone
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}